---
---
@import "minimal-mistakes";

ul { margin-bottom: 5em; } /* Gérer l'espace après les listes */
ul ul { margin-bottom: 5em; } /* Gérer l'espace après les sous-listes */
table { margin-bottom: 5em; }  /*  Gérer l'espace après les tableaux */


/*
ul = une liste non ordonnée (<ul>)
ul ul = un <ul> qui est à l’intérieur d’un autre <ul>
*/