---
---
@import "minimal-mistakes";


table { margin-bottom: 2em; }  /* Gérer l'espace après les tableaux */
ul ul { margin-bottom: 2em; }  /* Gérer l'espace après les sous-listes */


/*
ul = une liste non ordonnée (<ul>)
ul ul = un <ul> qui est à l’intérieur d’un autre <ul>
*/