---
---
@import "minimal-mistakes";

/* Gérer l'espace après les sous-listes */
ul ul { margin-bottom: 1em; }


/* Gérer l'espace après les listes */
ul { margin-bottom: 1em; }

/*
ul = une liste non ordonnée (<ul>)
ul ul = un <ul> qui est à l’intérieur d’un autre <ul>
*/