---
---
@import "minimal-mistakes";

table { margin-bottom: 2em; }  // espace après les tableaux
ul ul { margin-bottom: 2em; }  // espace après les sous-listes

.smaller-text {
//   font-size: 0.8rem;   // 0.5rem => 2x plus petit
  font-size: 15px;
}

.smaller-text ul li,
.smaller-text ol li {
  line-height: 1.1; // plus petit que 1.5 = moins d'espace
}


/* tableau personnalisé : bordure complète */
.table-full-bordered {
  border-collapse: collapse;        /* fait fusionner les bordures */
  border: 1px solid #000;           /* bordure noire autour du tableau */
}

/* bordures internes aussi */
.table-full-bordered td {
  border: 1px solid #000;           /* bordure autour de chaque cellule */
}



/*
ul — Unordered List (liste avec des puces)
ol — Ordered List (liste avec des numéros (1., 2., 3.))
li — List Item (élément de liste, ligne dans la liste → doit toujours être à l’intérieur d’un ul ou ol)

ul ul = un <ul> qui est à l’intérieur d’un autre <ul>

https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/
*/
