---
---
@import "minimal-mistakes";

table { margin-bottom: 2em; }  /* espace après les tableaux */
ul ul { margin-bottom: 2em; }  /* espace après les sous-listes */

.smaller-text {
  font-size: 0.9rem;   // 0.5rem => 2x plus petit
}


/*
ul = une liste non ordonnée (<ul>)
ul ul = un <ul> qui est à l’intérieur d’un autre <ul>

https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/
*/
