---
---
@import "minimal-mistakes";


table { margin-bottom: 2em; }  /* Gérer l'espace après les tableaux */
ul ul { margin-bottom: 2em; }  /* Gérer l'espace après les sous-listes */

.smaller-text {
  font-size: 0.5; /* texte un peu plus petit */
}


/*
ul = une liste non ordonnée (<ul>)
ul ul = un <ul> qui est à l’intérieur d’un autre <ul>
*/